body {
  background-color: #b1def1;
  color: #5e503f;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}
button {
  padding: 5px 20px;
  background-color: #3454d1;
  color: white;
  border-style: none;
}
input {
  height: 24px;
}